@import "../public/assets/css/bootstrap.css";
:root {
  --color-primary: #fff;
  --color-secondary: #000;
}

html,
body {
  overflow-y: scroll !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .MuiBackdrop-root {
    max-width: max-content;
  }
}

.intl-tel-input.allow-dropdown .selected-flag {
  display: flex !important;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px !important;
}
