$font-h2: toRem(26);

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2.title {
  font-size: $font-h2;
  color: #fff;
  text-align: center;
  margin: toRem(20) 0;
}

.closeicon {
  position: absolute;
  top: toRem(10);
  right: toRem(10);
  @media (min-width: 931px) {
    display: none !important;
  }
}

.linkhover {
  color: rgb(190, 190, 190);
  &:hover {
    color: #fff;
  }
}

.fixed_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(https://wallpaperaccess.com/full/1892752.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerWrapepr {
  height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
  position: relative;
}

.name {
  color: #fff;
  font-size: toRem(64);
  font-weight: 700;
  line-height: toRem(56);
  margin: 0;
  letter-spacing: toRem(4);
}
.tagline {
  color: #fff;
  font-size: toRem(28);
  line-height: toRem(30);
  font-weight: 300;
  margin-top: toRem(20);
  &span {
    text-decoration: underline;
  }
}

.sectionTitle {
  color: #163c6b;
  font-size: toRem(32);
  font-weight: bold;
  margin-bottom: toRem(20);
  padding-bottom: toRem(20);
  position: relative;
  &:after {
    content: "";
    width: toRem(50);
    color: #163c6b;
    height: toRem(3);
    background: #163c6b;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.sectionTitleAfter {
  margin-bottom: 0;
  padding-bottom: 0;
  &:after {
    width: 0;
    height: 0;
  }
}

.parahgraph {
  font-size: #fff;
  margin-bottom: 0;
  margin-bottom: 0;
}
.indexMargin {
  @media (min-width: 931px) {
    margin-left: toRem(300);
  }
}
.wrapperSection {
  background: #fff;
  position: relative;
  padding: toRem(50) toRem(10);
  z-index: 1;
}

.cvPic {
  width: 100% !important;
  height: auto !important;
  border-radius: 0 !important;
}

.underline {
  position: relative;
  padding-bottom: 15px;
  &:after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(2, 115, 255, 80%);
  }
}

.menuIcon {
  @media (min-width: 931px) {
    display: none !important;
  }
  @media (max-width: 930px) {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 38px !important;
  height: 38px !important;
  }
}

.personalDetailUl {
  list-style: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 30px;
    margin: 10px 0;
    font-size: 18px;
    svg {
      color: #149ddd;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0%, -50%);
    }
    span {
      font-weight: 600;
    }
  }
}

.progressWrapper {
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.progress {
  background: #149ddd;
  height: 100%;
}

.h2Title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(5, 13, 24);
  @media (max-width: 930px) {
    display: none;
  }
}
.h3Title {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: rgb(5, 13, 24);
  margin-bottom: 10px;
}

.resumeSection {
  position: relative;
  border-left: 2px solid #149ddd;
  padding: 0px 0px 20px 20px;
  padding-left: 20px;
  ul {
    padding-left: 20px;
    li {
      padding-bottom: 10px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -8px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    border: 2px solid #149ddd;
  }
}

.year {
  font-size: 16px;
  background: rgb(228, 237, 249);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba($color: #fff, $alpha: 0.5);
  box-shadow: 0 0px 15px #d2d2d2;
  padding: 30px 20px;
  height: 100%;
  transition: transform 1 ease;
  &:hover {
    box-shadow: 0 1px 15px #d2d2d2;
    transform: scale(1.02);
  }
  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }
  h3 {
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: #050d18;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p {
    text-align: center;
  }
}

div.iconWrapper {
  background: #d2d2d2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid #149ddd;
  border-radius: 12px;
  padding: 30px;
  height: 100%;
  
  // input,
  // select {
  //   width: 100%;
  //   height: 40px;
  //   margin: 7.5px 0;
  // }
  // textarea {
  //   width: 100%;
  //   margin: 7.5px 0;
  // }
}

.antFormItemLabel{
  text-align: left;
}